<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Проект: {{project.title}}</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}<br>
    <h1>Автор: {{user.surname}} {{user.name}} {{user.patronymic}}</h1>
    <h1>Тема: {{project.title}}</h1>
    <h1>Идея: {{project.idea}}</h1>
    <div>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{{project.presentation}}">Посмотреть проект</a>
        {% if rate_button %}
        <a type="button" class="btn btn-success btn-lg btn-block" href="project_rate/{{project.id}}">Оценить</a>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>